{% extends '::backend.html.twig' %}

{% block body -%}
    <h1>Creación de Alumno</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('alumno') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
