
<h4> <b> Información Académica </b> </h4> 
<ul>
 <li><a href="http://www.itmexicali.edu.mx/informacion/calendario20151.pdf"> Calendario Escolar</a></li> 
 <li> <a href="CriteriosPNP"> Criterios PNP </a></li> 
 </ul>
<hr>

<h4><b>  Sitios Relacionados </b></h4> 
<ul> 
 <li><a href="http://www.snit.mx"> DGEST </a></li>
<li><a href="http://www.conacyt.gob.mx"> CONACYT</a></li>
<li><a href="http://www.universia.net.mx"> Universia</a></li>
<li><a href="http://dsa.sep.gob.mx"> PROMEP</a></li>
</ul>
<hr>
