{% extends '::base.html.twig' %}


{% block body %}
<div class="well">
{% for item in convocatorias %}
	<a href="{{asset(item.getWebPath())}}" target="nueva"><h4>{{item.getTitulo}}</h4> </a><br>
{% endfor %}
</div>
{% endblock %}