{% extends '::base.html.twig' %}


{% block body %}

<div class="well">
(Sección en construcción)
<h3>Maestría</h3> 
<OL type="A">
    <li>Estructura del Programa</li>
    <ul>
      <li>Plan de estudios</li>
      <li>Proceso de Enseñanza Aprendizaje</li>
    </ul>
    <li>Estudiantes</li>
    <ul>
      <li>Ingreso de estudiantes</li>
      <li>Trayectoria Escolar</li>
      <li>Movilidad de Estudiantes</li>
      <li>Tutorías y/o Asesorías</li>
      <li>Dedicación exclusiva de los estudiantes al programa</li>
    </ul>
    <li>Personal Académico</li>
    <ul>
      <li>Núcleo Académico Básico</li>
      <li>Líneas de Generación LGAC</li>
    </ul>
    <li>Infraestructura</li>
    <ul>
      <li>Espacios y Equipamiento</li>
      <li>Laboratorios y talleres</li>
      <li>Información y Documentación</li>
      <li>Tecnologías de Información y Comunicación</li>
    </ul>
    <li>Resultados</li>
    <ul>
      <li>Trascendencia cobertura evolución del Programa</li>
      <li>Pertinencia del Programa</li>
      <li>Efectividad del Posgrado</li>
      <li>Contribución al conocimiento</li>
    </ul>
    <li>Cooperación con otros actores de la sociedad </li>
    <ul>
      <li>Vinculación</li>
      <li>Financiamento</li>
    </ul>
    <li>Planeación Institucional</li>
    <ul>
      <li>Visión Institucional del Posgrado</li>
      <li>Políticas, objetivos y estrategias institucionales del posgrado.</li>
      <li>Evolución de la calidad de los programas de posgrado</li>
      <li>Identificación de las principales fortalezas y problemas del posgrado en el ámbito institucional</li>
    </ul>
    <li>Plan de mejora del programa de posgrado</li>
  </OL>

<hr>
Reporte de Actividades
<hr>
(Sección en construcción)
  </div>

{% endblock %}