{% extends '::base.html.twig' %}


{% block body %}

 <div class="row">
 <div class="col-md-8">
            <div class="well">
<h3><b>Bienvenido</b></h3>

                <img src="{{asset('bundles/app/images/inicio.png')}}"  class="img-responsive" alt="Responsive image" hspace="15" vspace="10" style="float: left;" high="100px" width="350px"/>
<br><br><br><br><br><br><br><br><br><br>
<p style="text-align:justify"> <b>
Bienvenido a la página de la División de Estudios de Posgrado e Investigación del Instituto Tecnológico de Mexicali.

                </div>
                </div>  


                <div class="col-md-4">
            <div class="well">
            <a href="{{ path('programame') }}">
     <h3><b>Maestría en Ingeniería en Electrónica</b></h3>
     </a>
<ul>
<li>Computación Ubicua</li>
<li>Procesamiento Digital de Señales</li>
</ul>

                </div>             
            </div>  

            <div class="col-md-4">
                 
            </div>       
    </div> 


{% endblock %}
