{% extends '::base.html.twig' %}


{% block body %}

 <div class="row">
 <div class="col-md-8">
            <div class="well">
<h3><b>Bienvenido</b></h3>

                <img src="{{asset('bundles/app/images/inicio.png')}}"  class="img-responsive" alt="Responsive image" hspace="15" vspace="10" style="float: left;" high="100px" width="350px"/>

<p sdos tanto a investigación básica como aplicada.
          La DEPI ofrece tyle="text-align:justify"> <b>
Bienvenido a la página de la División de Estudios de Posgrado e Investigación del Instituto Tecnologico de Mexicali.
          <br><br>La DEPI está conformada por un grupo de investigadores dedicaun programa de maestría, este programa se encuentra en el Programa Nacional de Posgrado (PNP).
         <br>   <br> 

 La División de Estudios de Posgrado e Investigación del Instituto Tecnológico de Mexicali tiene como propósito
 hacer frente a las necesidades crecientes que existen en México en las ramas de las tecnologías de la información y sus aplicaciones.
<br><br>
El objetivo fundamental de la DEPI es realizar investigaciones científicas y desarrollos tecnológicos 
  en la disciplina de las tecnologías de la información. 
  </b>
                </div>
                </div>  


                <div class="col-md-4">
            <div class="well">
            <a href="{{ path('programame') }}">
     <h3><b>Maestría en Ingeniería en Electrónica</b></h3>
     </a>
<ul>
<li>Computación Ubicua</li>
<li>Procesamiento Digital de Señales</li>
</ul>

                </div>             
            </div>  

            <div class="col-md-4">
                 
            </div>       
    </div> 


{% endblock %}
