{% extends '::base.html.twig' %}


{% block body %}

 <style>
 .glyphicon { margin-bottom: 10px;margin-right: 10px;}
 </style>

   <h4> LGAC Computación Ubicua </h4>
            <div class="well">
                <div class="row">
                    <div class="col-md-2">

                        <img src="{{asset('bundles/app/images/150x150.gif')}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-4">
                        <h4>
                            Juan Francisco Ibáñez Salas</h4>

                            <i class="glyphicon glyphicon-envelope"></i>pacois20@gmail.com
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://cachanilla.itmexicali.edu.mx/~pacois/">cachanilla.itmexicali.edu.mx/~pacois/</a>
                            <br />
                            <i class="glyphicon glyphicon-book"></i>MC. en Enseñanza de las Ciencias (CIIDET)
                            <br />
                            <small>Área de Investigación: Sistemas Distribuidos</small>
                        <!-- Split button -->
                    </div>

                     <div class="col-md-2">
                        <img src="{{asset('bundles/app/images/150x150.gif')}}" alt="" class="img-rounded img-responsive" />
                    </div>
                    <div class="col-md-4">
                        <h4>
                            Arnoldo Díaz Ramírez</h4>

                            <i class="glyphicon glyphicon-envelope"></i>adiaz@itmexicali.edu.mx
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="http://cachanilla.itmexicali.edu.mx/~pacois/">cachanilla.itmexicali.edu.mx/~adiaz/</a>
                            <br />
                            <i class="glyphicon glyphicon-book"></i>Dr. Arquitectura y Tecnología de los Sistemas Informáticos (UPV) 
                            <br />
                            <small>Área de Investigación: Sistemas de Tiempo Real</small>
                        <!-- Split button -->
                    </div>


                </div>
</div>
{% endblock %}