{% extends '::base.html.twig' %}


{% block body %}

 <div class="row">
            <div class="well">
          
<h3>Especialidad en Ingeniería Industrial</h3> <i>(*Proximamente)</i><br><br>


Baja California es una región en desarrollo tanto para empresas grandes como pequeñas en las que la necesidad de mejoramiento y optimización de sus procesos productivos o de servicio son muy necesarios. 
Tomando en consideración lo anterior, para el programa de posgrado se proponen dos líneas de trabajo que abordan temas de interés para las industrias de manufactura y transformación, así como las empresas de servicio, los cuales coadyuvan en la formación de recursos humanos con los conocimientos y habilidades requeridas.</p>

<br>
<b>Líneas generación y/o aplicación del conocimiento del programa</b>
<ul>
<li>Optimización de sistemas de producción de bienes y servicios</li>
<li>Dirección y Gestión para la implementación y mejora de sistemas de calidad</li>
</ul>
<br>

<b>Núcleo  académico</b> 
<p text="justyfy">
<ul>
<li>Dra. Amalia Medina Palomera. Doctora en Ingeniería Industrial. Egresada de la Universidad Politécnica de Valencia.
</li>
<li>M.C. Julio Cesar Medina Aguirre. Maestro en Ciencias en Procesos Industriales. Egresado de la Universidad Autónoma de Baja California.</li>
<li>M.C. Sylvia De Reza De la Cruz. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.
</li>
<li>M.C. Rubén Álvarez Morales. Maestro en Ciencias en Tecnológicas de la Información y Comunicación. Maestro en Ciencias en Ingeniería de Sistemas. Egresado de ambas maestría de la Universidad Autónoma de Baja California.</li>
<li>M.C. María Eugenia Casillas Lamadrid. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.</li>
<li>M.C. Glenda Zayas Orozco. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.
</li>
<li>M.C. Yanet Villarreal González. Maestría en Pedagógica. Egresada de la Universidad Estatal de Estudios Pedagógicos.
</li>
<li>M. I. Acela Castillón Barraza. Maestra en Ingeniería. Egresada de la Universidad Autónoma de Baja California.
</li>
<li>M.C. Julio Cesar Romero González. Maestro en Ciencias de Administración Industrial. Egresado del Centro de Enseñanza Técnica y Superior.</li>

</ul></p>

            </div>
</div>
   
{% endblock %}