{% extends '::base.html.twig' %}


{% block body %}

 <div class="row">
            <div class="well">
          <h3>Maestría en Ingenieria en Electrónica</h3>
   


               Las investigaciones desarrolladas en el programa de Maestría en Ingeniería Electrónica de nuestro
instituto impactan en dos vertientes de generación y aplicación del conocimiento: <br><br>

<a href="#" id="MElineaA"><h4>Computación ubicua</h4></a>
<div id="MElineaA1" style="display:none">


La proliferación de dispositivos con capacidades de comunicación inalámbrica ha permitido el desarrollo
de una gran cantidad de aplicaciones en prácticamente todas las áreas de la vida cotidiana. Es común la
utilización de teléfonos celulares o tabletas electrónicas para llevar control de las operaciones de un
negocio, para conectarse a redes sociales e Internet, o para intercambiar información. Estos avances en
la comunicación inalámbrica y en los sistemas inmersos (por ejemplo, teléfonos celulares inteligentes)
han promovido la creación de un nuevo campo de la computación: la computación ubicua.<br><br>

 <h4>Responsables</h4>
<h5>Líder de línea</h5>
<ul>
<li>Dr. Arnoldo Díaz Ramírez (Perfil PROMEP)</li>
</ul>
<h5>Colaboradores</h5>
<ul>
<li>M.C. J. Francisco Ibáñez Salas (Perfil PROMEP)</li>
<li>M.C Verónica Quintero Rosas</li>
</ul>

{#<a href="{{asset('docs/compubic.pdf')}}" target="nueva">Producción Computación Ubicua </a> 
#}
<br><br>
</div>

<a href="#" id="MElineaB"><h4>Procesamiento digital de señales</h4></a> 
<br>
<div id="MElineaB1" style="display:none">

Los proyectos en los que hemos participado están orientados a dar a
apoyo a personas limitantes en su salud, pero que cuentan con el recurso de la voz, durante estos
proyectos trabajamos con herramientas en el domino del procesamiento de voz como señal acústica. En
una búsqueda de ser más útil en la solución de problemas locales, encontramos que nuestras
metodologías son aplicables a señales acústicas provenientes del pulmón y corazón, pero igual se puede
incursionar en otras y convergiendo con la robótica.
<br><br>

 <h4>Responsables</h4>
<h5>Líder de línea</h5>
<ul>
<li>Dr. Pedro Mayorga Ortiz (Perfil PROMEP)</li>
</ul>
<h5>Colaboradores</h5>
<ul>
<li>M.I Gilberto García Gómez</li>
<li>Dr. Fidel Díaz Muñoz</li>
</ul>
{#
<a href="{{asset('docs/procdigi.pdf')}}" target="nueva">Producción Procesamiento Digital de Señales </a> 
#}
</div>
   </div>
         </div>

{% endblock %}