{% extends '::base.html.twig' %}



{% block body %}
<div class="well">
<h1>Maestría en Sistemas Computacionales</h1>
<a href="#" id="objetivos"><h4>Objetivos</h4> </a> 
<div id="objetivos1" style="display:none">
<h2>Objetivos generales y específicos del programa.</h2>
<br><br>
<p style="text-align:justify">
El programa de Maestría en Sistemas Computacionales establece de manera congruente con su naturaleza y finalidad los siguientes objetivos:
</p><br>
<h3>Objetivo General</h3>
<p style="text-align:justify">
Formar recursos humanos del más alto nivel en las áreas afines a las ciencias computacionales, para realizar investigación científica y tecnológica original con impacto en los sectores social, económico, gubernamental y académico.
</p>

<h3>Objetivos específicos</h3>
<ul>
<li>La obtención del grado de Maestría por parte de los estudiantes de acuerdo a los criterios definidos por el Conacyt. </li>
<li>Generación de productos académicos de alta calidad. </li>
<li>Vinculación efectiva de estudiantes y profesores con Universidades, Centros de Investigación y Empresas de la región e internacionales. </li>
</ul>

<p>Los profesores se encuentran asignados a la línea de trabajo de la siguiente manera:</p>
<b>Profesores del Programa de Maestría en Sistemas Computacionales</b>
</ul>
<li>Dr. Arnoldo Díaz Ramírez</li>
<li>Dr. Fidel Díaz Muñoz </li>
<li>M.C. Juan Francisco Ibáñez Salas M.C. Verónica Quintero Rosas</li>
<li>M.C. Heber Samuel Hernández Tabares M.C. Víctor Arguelles Quirino</li>
<li>Dr. Luis Arturo Martínez Alvarado</li>
<li>Dr. Rafael Iván Ayala Figueroa</li>
<li>Dr. Vidblain Amaro Ortega</li>
<li>M.C. Jorge Luis Atempa Camacho</li>
</ul>
</div>



<a href="#" id="MEplan"><h4>Plan de Estudios</h4></a> 
<div id="MEplan1" style="display:none">
<br>
<b>La estructura genérica del plan de estudios es la siguiente:</b>
<table style="width:100%">
  <tr>
    <th></th>
    <th>DOC (horas)</th> 
    <th>TIS (horas)</th>
    <th>TPS (horas)</th> 
    <th>Horas Totales</th> 
    <th>Créditos</th> 
  </tr>
  <tr>
    <td>Matemáticas Discretas </td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Probabilidad y Estadística</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Tecnologías de la Programación</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Análisis y Diseño de Algoritmos</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Seminario I</td>
    <td>16</td> 
    <td>20</td>
    <td>100</td>
    <td>136</td> 
    <td>4</td>
  </tr>
  <tr>
    <td>Seminario II</td>
    <td>16</td> 
    <td>20</td>
    <td>100</td>
    <td>136</td> 
    <td>4</td>
  </tr>
  <tr>
    <td>Seminario III</td>
    <td>16</td> 
    <td>20</td>
    <td>100</td>
    <td>136</td> 
    <td>4</td>
  </tr>
  <tr>
    <td>Optativa I</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Optativa II</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Optativa III</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Optativa IV</td>
    <td>48</td> 
    <td>20</td>
    <td>100</td>
    <td>168</td> 
    <td>6</td>
  </tr>
  <tr>
    <td>Tesis</td>
    <td>0</td> 
    <td>800</td>
    <td>0</td>
    <td>800</td> 
    <td>40</td>
  </tr>
  <tr>
    <td><b>Total:</b></td>
    <td></td> 
    <td></td>
    <td></td>
    <td><b>2552</b></td> 
    <td><b>100</b></td>
  </tr>
</table>
<p>
  En donde DOC: Horas de docencia (incluye horas de teoría y práctica). TIS: Trabajo Independiente Significativo del estudiante. TPS: Trabajo Profesional Supervisado por parte del estudiante. SATCA: Sistema de Asignación y Transferencia de Créditos Académicos.<br><br>
  Las asignaturas optativas por línea de investigación se describen a continuación:
</p>
<table style="width:100%">
  <tr>
    <th>Línea de investigación</th>
    <th>Asignatura Optativa</th> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Minería de datos</td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Reconocimiento de patrones </td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Tecnologías de Internet</td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Programación para dispositivos móviles </td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Temas avanzados de programación </td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Arquitecturas orientadas a servicios </td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Temas selectos I </td> 
  </tr>
  <tr>
    <td>Internet de las Cosas (IoT)</td>
    <td>Temas selectos II </td> 
  </tr>
</table>
<p style="text-align:justify">
Las asignaturas están organizadas por área de conocimiento a fin de permitir el desarrollo y la consolidación de las líneas de investigación o de trabajo.
</p>
<ul>
  <li>Asignaturas Básicas
    <ul>
      <li>Matemáticas Discretas MPSCO-0101</li>
      <li>Probabilidad y estadística MPSCO-0102</li>
      <li>Tecnologías de Programación MPSCO-0103</li>
      <li>Análisis y Diseño de algoritmos MPSCO-0104</li>
    </ul>
  </li>
  <li>Asignaturas Optativas
    <ul>
      <li>Minería de Datos MPSCO-0201</li>
      <li>Tecnologías de Internet MPSCO-0202 </li>
      <li>Programación para dispositivos móviles MPSCO-0203 </li>
      <li>Arquitectura orientada a servicios MPSCO-0204 </li>
      <li>Reconocimiento de patrones MPSCO-0205 </li>
      <li>Temas avanzados de programación MPSCO-0206 </li>
      <li>Temas selectos I MPSCO-0207 </li>
      <li>Temas selectos II MPSCO-0208 </li>
    </ul>
  </li>
  <li>Seminarios
    <ul>
      <li>Seminario I MPSCO-0301 </li>
      <li>Seminario II MPSCO-0302 </li>
      <li>Seminario III MPSCO-0303 </li>
    </ul>
  </li>
  <li>Tesis
    <u>
      <li>Tesis MPSO-0304</li>
    </u>
  </li>
</ul>
</div>



<a href="#" id="MErequisitos"><h4>Perfil de ingreso</h4></a>
<div id="MErequisitos1" style="display:none">
  <p style="text-align:justify">
    El alumno solicitante a ingresar al programa de la Maestría en Sistemas computacionales deberá poseer el título de ingeniero, con promedio mínimo de 80, en alguna de las siguientes áreas: 
  </p>
<ul>
<li>Sistemas Computacionales </li>
<li>Electrónica </li>
<li>Mecánica </li>
<li>Mecatrónica </li>
<li>Electromecánica </li>
<li>Áreas afines </li>
</ul>
<p style="text-align:justify">
  Los aspirantes deberán tener: 
</p>
<ul>
<li>Para el razonamiento lógico </li>
<li>Para el pensamiento analítico </li>
<li>Para la manipulación de equipos de comunicaciones </li>
<li>Para establecer planes de desarrollo </li>
<li>Para el trato interdisciplinario </li>
<li>Para interactuar con otras áreas </li>
<li>Para la investigación y análisis de documentos, artículos y bibliografía variada. </li>
</ul>

<p style="text-align:justify">Actitudes y valores:</p>

<ul>
<li>De servicio y responsabilidad </li>
<li>Disposición para trabajar en equipo </li>
<li>De actualización constante</li>
<li>De honestidad y ética profesional</li>
</ul>
</div>


<a href="#" id="MEapoyo"><h4>Perfil del graduado</h4> </a> 
<div id="MEapoyo1" style="display:none">
<p style="text-align:justify">El egresado del programa de Maestría en Sistemas Computacionales tendrá será capaz de:</p>
<ul>
<li>Estar actualizado en conocimientos científicos y tecnológicos de lasca, ciencias computacionales y áreas afines. </li>
<li>Utilizar técnicas, herramientas y conocimientos avanzados para la solución de problemas de interés regional, nacional e internacional. </li>
<li>Llevar a cabo investigación en temas de relevancia científica y tecnológica. </li>
<li>Analizar, evaluar, diseñar y mejorar sistemas o productos innovadores aplicando ciencia y tecnología de alto nivel. </li>
<li>Difundir e impulsar el conocimiento científico y tecnológico en su entorno. </li>
<li>Comunicar ideas de forma oral o escrita, de manera efectiva, en foros académicos, científicos y tecnológicos. </li>
</ul>
<p style="text-align:justify">
  <b>Campo de acción</b><br>
  El graduado del programa de Maestría podrá trabajar en empresas que lleven a cabo actividades relacionadas con las materias y línea de investigación del programa. Además, el graduado podrá desarrollar actividades de investigación o docencia en ciencias de la ingeniería, en universidades y centros de investigación. 
Las habilidades adquiridas en la maestría engrandece el campo de trabajo del egresado aplicándose en los sistemas de producción, distribución y de servicios, en una gran variedad de actividades donde la aplicación de sistemas computacionales dan solución óptima a las necesidades del entorno industrial, social y de servicios.
</p>

</div>

{# </div> #}
<a href="#" id="permanencia"><h4>Permanencia</h4> </a> 
<div id="permanencia1" style="display:none">
  <h3>Requisitos de la permanencia en el programa</h3>
  <p style="text-align:justify">
  Para que un estudiante pueda permanecer en el programa de Maestría en Sistemas Computacionales, deberá: 
  </p>
  <ul>
<li>Acatar todas las disposiciones reglamentarias de la institución, de la Dirección General del TECNM para su buen funcionamiento y mejor aprovechamiento y, consecuentemente, se evitará ser sujeto de sanciones por parte de las autoridades competentes </li>
<li>Inscribirse en cada periodo, durante el programa, hasta la obtención del grado de Maestro. Después de los periodos reglamentarios, el estudiante deberá inscribirse aunque no tenga carga académica. </li>
<li>Acreditar las asignaturas con una calificación mínima de setenta (70), pero el promedio mínimo requerido será de ochenta (80). </li>
<li>No reprobar dos veces una misma asignatura ni dos asignaturas diferentes. </li>
<li>No abandonar los estudios por un periodo sin la autorización del Jefe de la DEPI; en cualquier caso, las bajas temporales y definitivas se solicitarán al Jefe de la DEPI y serán valoradas por el CIPI. </li>
<li>Presentar informe escrito de los avances del proyecto de tesis, al término de cada periodo escolar, al Comité Tutorial, con el aval del Director de Tesis. </li>
<li>Obtener el grado de Maestro en el periodo reglamentario correspondiente. </li>
<li>El incumplimiento de cualquiera de éstas u otras disposiciones emitidas por las instancias educativas al efecto, será causa suficiente de baja definitiva del estudiante del programa respectivo. </li>
  </ul>
<br>
  <p style="text-align:justify">
Todo estudiante de posgrado que haya cursado al menos un semestre del programa podrá solicitar su baja temporal al Jefe de la División de Estudios de Posgrado e Investigación, en todas las asignaturas por un periodo, para lo cual presentará dicha solicitud por escrito, avalada por su Director de Tesis.
</p>
<p style="text-align:justify">
Cuando el estudiante decida no continuar sus estudios podrá solicitar la certificación de las asignaturas cursadas; las asignaturas no aprobadas no se computarán para efectos del promedio general.
</p>
<p style="text-align:justify">
Para cumplir con los indicadores del PNPC de Conacyt, los alumnos de maestría con dedicación de tiempo completo, disponen de dos años contabilizados a partir de la fechade ingreso al programa para cubrir la totalidad de los créditos del plan de estudios y aprobar el examen de grado. Para el caso de alumnos con dedicación de tiempo parcial contarán con un máximo de tres años.
</p>
<p style="text-align:justify">
El Departamento de Servicios Escolares de la institución será responsable de la inscripción y reinscripción de estudiantes en las fechas y periodos establecidos por la División de Estudios de Posgrado e Investigación, así como de la certificación de estudios, el resguardo de la documentación correspondiente y de la actualización del registro histórico de cada estudiante.
  </p>
</div>

<a href="#" id="obtencionGrado"><h4>Obtención de Grado</h4> </a> 
<div id="obtencionGrado1" style="display:none">
  <h3>Requisitos para la obtención del grado de Maestría en Sistemas Computacionales</h3>

<p>Para la obtención del grado de Maestro, el alumno debe:</p>
<ul>
<li>Presentar un proyecto terminal individual de carácter profesional, empresarial o docente para su tesis. </li>
<li>Contar con la autorización de la impresión de la tesis emitida por los miembros del Comité Tutorial. </li>
<li>Demostrar el dominio de un segundo idioma, el cual deberá acreditar mediante examen, a sugerencia del Consejo de Posgrado. </li>
<li>Acreditar todas las actividades académicas, de conformidad con la estructura del programa, y presentar y aprobar el examen de grado correspondiente. </li>
</ul>
<p style="text-align:justify">Para sustentar el Examen de grado, el estudiante deberá cubrir los siguientes requisitos:</p>
<ul>
<li>Estar dentro del término especificado en el Plan de Estudios Correspondiente.</li>
<li>
  Solicitar por escrito al Jefe de la División de Estudios de Posgrado e Investigación, fecha, hora y lugar para realizar el Examen de grado, anexando los siguientes documentos:
  <ul>
<li>Constancia de aprobación de la totalidad de la estructura académica del programa, emitida por el Departamento de Servicios Escolares, con el promedio general mínimo requerido (80), sin considerar los créditos de la tesis.</li>
<li>Constancia del manejo de un segundo idioma, al nivel o puntaje que se establezca para el nivel educativo que corresponda.</li>
<li>Autorización de impresión de la tesis emitida por la División de Estudios de Posgrado e Investigación.</li>
<li>Carta de autorización de impresión de la tesis emitida por los miembros del Comité Tutorial y los revisores.</li>
<li>Los ejemplares impresos o electrónicos necesarios de la tesis aprobada por el Jurado de Examen, según el número de miembros del jurado.</li>
<li>Se requerirá un ejemplar impreso para la biblioteca y copia del archivo electrónico en formato PDF en CD.</li>
<li>Constancia expedida por el Departamento de Servicios Escolares para validar que se está en término para la realización del Examen de grado.</li>
<li>Documento que avale la cobertura de los derechos de examen y de expedición de los documentos correspondientes.</li>
<li>Documento de no adeudos económicos, ni de material, ni de equipo con las oficinas, laboratorios, talleres y biblioteca del plantel.</li>
<li>Autorización correspondiente, en caso de haber solicitado ampliación de periodo para examen.</li>
<li>Los demás documentos que requiera el Departamento de Servicios Escolares de la institución.</li>
  </ul>
</li>
</ul>
</div>
</div>
{% endblock %}