{% extends '::base.html.twig' %}



{% block body %}
<div class="well">
<h3>Maestría en Ingeniería en Electrónica</h3>

<a href="#" id="MEplan"><h4>Plan de Estudios</h4></a> 
<div id="MEplan1" style="display:none">

Clave: MPIEO-2011-13
<br><br>
<b>Asignaturas Básicas</b> (6 Créditos por asignatura)
<table id="t01"> 
<tr><td width="100">MPIEO0101 </td><td>Matemáticas Avanzada</td></tr>
<tr><td>MPIEO0102 </td><td>Estadística Aplicada</td></tr>
<tr><td>MPIEO0103 </td><td>Programacion Avanzada</td></tr>
<tr><td>MPIEO0104 </td><td>Procesamiento de Señales</td></tr>
  </table>
<br><br>
<b>Asignaturas Opcionales</b> (6 Créditos por asignatura, Solo se eligen 4)
<br>
Computación Ubicua
  <table id="t01">
  <tr><td width="100">MPIEO0203 </td><td>Redes inalámbricas</td></tr>
<tr><td>MPIEO0204 </td><td>Sistemas de tiempo Real</td></tr>
<tr><td>MPIEO0205 </td><td>Aplicaciones web para la teleoperación</td></tr>
<tr><td>MPIEO0206 </td><td>Fundamentos de programación científica moderna</td></tr>
<tr><td>MPIEO0207 </td><td>Informática industrial</td></tr>
<tr><td>MPIEO0208 </td><td>Procesamiento en paralelo</td></tr>
<tr><td>MPIEO0209 </td><td>Sistemas inteligentes distribuidos</td></tr>
<tr><td>MPIEO0210 </td><td>Programación de sistemas</td></tr>
  </table>
<hr>
Procesamiento Digital de Señales
<table id="t01">
 <tr><td width="100">MPIEO0201 </td><td>Dispositivos de interfaz</td></tr>
  <tr><td>MPIEO0202 </td><td>Matemáticas para automatización y procesamiento de señales</td></tr>
   <tr><td>MPIEO0211 </td><td>Sistemas de transmisión de señales</td></tr>
    <tr><td>MPIEO0212 </td><td>Procesos estocásticos</td></tr>
     <tr><td>MPIEO0213 </td><td>Procesadores digitales de señales con lógica difusa y redes neuronales</td></tr>
      <tr><td>MPIEO0214 </td><td>Procesamiento digital de señales en tiempo real</td></tr>
       <tr><td>MPIEO0215 </td><td>Reconocimiento de patrones</td></tr>
        <tr><td>MPIEO0216 </td><td>Visión artificial</td></tr>
         </table>
<hr>
  
<b>Asignaturas Obligatorias</b> (4 Créditos por asignatura)
<table id="t01"> 
<tr><td width="100">MPIEO0301 </td><td>Seminario I</td></tr>
<tr><td>MPIEO0302 </td><td>Seminario II</td></tr>
<tr><td>MPIEO0303 </td><td>Seminario III</td></tr>
  </table>
<hr>
<b>Tesis</b> (40 Créditos)
<table id="t01"> 
<tr><td width="100">MPIEO0401 </td><td>Tesis I</td></tr>
  </table>
  <hr>

  <b>Total 24 (básicas) + 12 (obligatorias) + 24 (optativas) + 40 (tesis) = 100 créditos </b>
  <hr>
</div>



<a href="#" id="MErequisitos"><h4>Requisitos y antecedentes de ingreso de los candidatos</h4></a>
<div id="MErequisitos1" style="display:none">
  Antes de iniciar formalmente el programa, los aspirantes deben ser titulados, de una licenciatura afín al programa y demostrar conocimientos considerados como fundamentales para garantizar su conclusión exitosa. En caso de ser graduado de otras licenciaturas el Consejo de Posgrado tomará la decisión sobre la posible aceptación.<br><br>
El Consejo de Posgrado analizará la suficiencia académica y la capacidad para la innovación y desarrollo tecnológico del aspirante, a través de los siguientes requisitos:<br><br>
<ul>
  <li>Acreditar un examen de admisión o cursar y aprobar las asignaturas propedéuticas,
  las cuales no tienen valor en créditos.</li>
  <li>Presentar currículo vitae y entrevistarse con los miembros del Consejo de Posgrado.</li>
  <li>Por escolaridad, cuando el alumno solicite por escrito al jefe de la DEPI el ser admitido por esta opción y sea graduado de una licenciatura afín con el área, así como contar con un promedio mínimo de 90. El dictamen lo emite el Consejo de Posgrado.</li>
  <li>Presentar la propuesta de un proyecto profesional, el cual será dictaminado por el
  Consejo de Posgrado para determinar su calidad y viabilidad.</li>
  <li>Mostrar habilidades para la lectura y comprensión de escritos técnicos en otro
  idioma además del español, de importancia para el campo del programa. El
  mecanismo para evaluar este aspecto será definido por el Consejo de Posgrado.</li>
</ul><br><br>
Para su admisión al programa de maestría, los aspirantes deberán entregar la documentación especificada por el Departamento de Servicios Escolares de la institución.<br><br>
El Consejo de Posgrado evaluará el acceso directo de licenciatura a la maestría de alumnos, que se hayan distinguido por demostrar, entre otros criterios:<br><br>
<ul>
<li>Una trayectoria con promedio sobresaliente.</li>
<li>Participación en Concursos de Ciencias Básicas, Creatividad o Emprendedores.</li>
<li>Participación en proyectos de innovación o investigación.</li>
<li>Participación en Veranos de la Investigación Científica.</li>
<li>Participación y organización en eventos académicos, entre otros.</li>
</ul>
</div>


<a href="#" id="MEapoyo"><h4>Apoyos</h4> </a> 
<div id="MEapoyo1" style="display:none">
El Instituto Tecnologico de Mexicali , a implementado un programa de becas para apoyar al programa de posgrado,
 cubriendo el costo de inscripcion a la Maestría en Ingeniería Electrónica dicho apoyo implican que entre otras cosas:
 <ul>
<li>Seas alumno de tiempo completo en la maestria</li>
<li>Tengas promedio minimo de 90 en licenciatura</li>
</ul>
<b>Eres Bufalo y tienes promedio minimo de 90, contaras con el apoyo del Instituto Tecnologico de Mexicali.</b>
</div>

</div>

</div>
{% endblock %}