{% extends '::base.html.twig' %}


{% block body %}
<div class="well">

<h3>Especialidad en Ingeniería Industrial</h3> <i>*(Proximamente)</i> <br>

<a href="#" id="IIacademica"><h4>Información Académica</h4></a> 
<div id="IIacademica1" style="display:none">
Baja California es una región en desarrollo tanto para empresas grandes como pequeñas en las que la necesidad de mejoramiento y optimización de sus procesos productivos o de servicio son muy necesarios. 
Tomando en consideración lo anterior, para el programa de posgrado se proponen dos líneas de trabajo que abordan temas de interés para las industrias de manufactura y transformación, así como las empresas de servicio, los cuales coadyuvan en la formación de recursos humanos con los conocimientos y habilidades requeridas.</p>

<br>
<b>Líneas generación y/o aplicación del conocimiento del programa</b>
<ul>
<li>Optimización de sistemas de producción de bienes y servicios</li>
<li>Dirección y Gestión para la implementación y mejora de sistemas de calidad</li>
</ul>
<br>

<b>Núcleo  académico</b> 
<p text="justyfy">
<ul>
<li>Dra. Amalia Medina Palomera. Doctora en Ingeniería Industrial. Egresada de la Universidad Politécnica de Valencia.
</li>
<li>M.C. Julio Cesar Medina Aguirre. Maestro en Ciencias en Procesos Industriales. Egresado de la Universidad Autónoma de Baja California.</li>
<li>M.C. Sylvia De Reza De la Cruz. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.
</li>
<li>M.C. Rubén Álvarez Morales. Maestro en Ciencias en Tecnológicas de la Información y Comunicación. Maestro en Ciencias en Ingeniería de Sistemas. Egresado de ambas maestría de la Universidad Autónoma de Baja California.</li>
<li>M.C. María Eugenia Casillas Lamadrid. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.</li>
<li>M.C. Glenda Zayas Orozco. Maestra en ciencias en Ingeniería Industrial. Egresada del Instituto Tecnológico de Tijuana.
</li>
<li>M.C. Yanet Villarreal González. Maestría en Pedagógica. Egresada de la Universidad Estatal de Estudios Pedagógicos.
</li>
<li>M. I. Acela Castillón Barraza. Maestra en Ingeniería. Egresada de la Universidad Autónoma de Baja California.
</li>
<li>M.C. Julio Cesar Romero González. Maestro en Ciencias de Administración Industrial. Egresado del Centro de Enseñanza Técnica y Superior.</li>

</ul></p>
</div>

<a href="#" id="IIgeneral"><h4>Información General</h4></a> 
<div id="IIgeneral1" style="display:none">
<b>Perfil de Egreso</b> <br>

El egresado del programa de especialidad de ingeniería industrial será capaz de:
<ul>
<li>Solucionar problemas y mejorar sistemas aplicando los métodos y técnicas fundamentales, teóricos y prácticos de la ingeniería industrial.</li>
<li>Analizar, evaluar, diseñar y mejorar sistemas o productos innovadores aplicando ciencia y tecnología de alto nivel.</li>
<li>Desempeñarse como un especialista de alta calidad colaborando en una organización con un enfoque multidisciplinario.</li>
<li>Formar parte de un equipo de trabajo o coordinar las actividades del mismo.</li>

</ul>

Por lo anterior, el egresado de la especialidad de ing. industrial habrá adquirido las siguientes competencias:
<ul>
<li>Iniciativa y creatividad</li>
<li>Habilidades de comunicación efectiva y coordinación de trabajo en equipo</li>
<li>Capacidad de tomar decisiones</li>
</ul>

<br>
<b>Objetivos generales y particulares del programa posgrado</b><br>
El objetivo general es formar especialistas en el área de ingeniería industrial que resuelvan problemas y generen propuestas de mejora para los sectores social, económico, gubernamental y académico de la región.<br>
Objetivos específicos:
<ul>
<li>Diseñar e implantar sistemas que mejoren la productividad y calidad en las organización.</li>
<li>Diseñar, implantar y mejorar sistemas, métodos y procedimientos para la toma de decisiones.</li>
<li>Dirigir grupos multidisciplinarios que busquen el mejoramiento de actividades productivas.</li>
<li>Ampliar los conocimientos en ingeniería y habilitar al profesional para la aplicación innovadora del conocimiento científico y técnico.</li>
<li>Vincular y lograr el trabajo colaborativo con los sectores productivos del ámbito empresarial, gubernamental, social y académico.</li>
</ul>
<br>

<b>Tutoría</b><br>
Todos los docentes del núcleo básico pueden realizar actividades de tutoría para los estudiantes con la finalidad de orientarles en el desarrollo de la tesina.<br><br>
<b>Vinculación con otros sectores de la sociedad</b><br>
El programa de estudio considera la vinculación con los diversos sectores de la región con la finalidad de que los estudiantes practiquen los conocimientos y habilidades aprendidas en la especialidad.<br><br>
<b>Procesos  administrativos  </b><br>
La especialidad se desarrolla de forma presencial durante dos semestres cuyos periodos inscripción y re inscripción son de agosto-diciembre y enero-Junio. 

</div>

<a href="#" id="IIplan"><h4>Plan de Estudios</h4></a> 
<div id="IIplan1" style="display:none">
<p text="justify">Para cursar el programa de la Especialidad en Ingeniería Industrial se deberán cumplir satisfactoriamente 52 créditos del plan de estudio. Las asignaturas se dividen en Básicas y Optativas. Las primeras se refieren a asignaturas que son fundamentales en el área de conocimiento que se trate y representan 12 créditos SATCA. Por otro lado, las optativas son de actualización, o de especialización y representan obligatoriamente 12 créditos SATCA.
La estructura genérica del plan de estudios es la siguiente:</p>

<table id="t01"> 
<tr>
<th>Asignaturas*</th>
<th>DOC(horas)</th>
<th>TIS(horas)</th>
<th>TPS(horas)</th>
<th>Horas Totales</th>
<th>Créditos</th>
</tr>
<tr>
<td>Básica I</td>
<td>48</td>
<td>20</td>
<td>100</td>
<td>168</td>
<td>6</td>
</tr>
<tr>
<td>Básica II</td>
<td>48</td>
<td>20</td>
<td>100</td>
<td>168</td>
<td>6</td>
</tr>
<tr>
<td>Seminario I</td>
<td>16</td>
<td>20</td>
<td>100</td>
<td>136</td>
<td>4</td>
</tr>
<tr>
<td>Seminario II</td>
<td>16</td>
<td>20</td>
<td>100</td>
<td>136</td>
<td>4</td>
</tr>
<tr>
<td>Optativa I</td>
<td>48</td>
<td>20</td>
<td>100</td>
<td>168</td>
<td>6</td>
</tr>
<tr>
<td>Optativa II</td>
<td>48</td>
<td>20</td>
<td>100</td>
<td>168</td>
<td>6</td>
</tr>
<tr>
<td>Tesina</td>
<td>0</td>
<td>400</td>
<td>0</td>
<td>400</td>
<td>20</td>
</tr>
<tr>
<td>Total</td>
<td>-</td>
<td>-</td>
<td>-</td>
<td>1344</td>
<td>52</td>
</tr>
</table>
<br>
* Corresponde a 4 asignaturas del catálogo integrado durante las reuniones de consolidación. DOC: Docencia; TIS: Trabajo independiente significativo; TPS: Trabajo profesional supervisado.
<hr>

<b>Catalogo de Asignaturas Básicas I y II:</b>
<ul>
<li>Administración de la producción y las operaciones</li>
<li>Fundamentos de sistemas industriales</li>
<li>Organización de sistemas industriales II</li>
<li>Estadística</li>
<li>Análisis económico</li>
<li>Investigación de operaciones</li>
<li>Organización de sistemas industriales I</li>
</ul>

Las asignaturas optativas por línea de investigación:<br>
<b>Optimización de Sistemas de Producción de Bienes y Servicios</b>
<ul>
<li>Administración de la cadena de suministro y logística</li>
<li>Modelación y simulación de sistemas industriales</li>
<li>Sistemas de apoyo a la toma de decisiones</li>
<li>Redes industriales </li>
<li>Simulación </li>
<li>Técnicas numéricas para la optimización </li>
<li>Manufactura integrada por computadora </li>
<li>Estudio del trabajo</li>
<li>Sistemas de Manufactura</li>
<li>Diseño de Sistemas de Manufactura</li>

</ul>

<b>Dirección y Gestión para la Implementación y Mejora de Sistemas de Calidad</b>
<ul>
<li>Diseño de experimentos</li>
<li>Tópicos selectos de calidad</li>
<li>Gestión de sistemas de calidad</li>
<li>Ingeniería de calidad</li>
<li>Técnicas para el mejoramiento de la calidad </li>
<li>Ingeniería de desarrollo</li>
<li>Sistemas de medición y análisis de incertidumbre</li>
<li>Planificación y control de sistemas de calidad </li>
<li>Seguridad y desarrollo sustentable </li>
<li>Sistemas de análisis de objetivos y preferencia</li>
</ul>
</div>



</div>

</div>
{% endblock %}